<div class="preloader" ng-show="dataLoading"></div>
<section class="section-content">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-12">
				<div class="col-md-12">
					<div class="col-md-12" ng-show="!frameLoaded">
						if loading takes long time, please refresh the payment process from
						<a href="" ng-click="refreshFrame()">here</a>
					</div>
					<div class="col-md-12">
						<iframe src="{{payfortSrc | trustedurl}}" id="frame" style="width: 100%; height: 460px" frameborder="0" border="0" cellspacing="0"></iframe>
					</div>
				</div>
				<div class="col-md-12" ng-show="redirectUrl">
					<div class="col-md-12">
						This page sould be redirected automatically to other page, if it is taking long time please click
						<a href="{{redirectUrl}}">here</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="payment-box">
					<div class="row">
						<div class="col-md-8">
							<div class="title">
								{{holiday.trip.title}}
							</div>
							<br>
							<div class="description">
								{{holiday.trip.short_description}}
							</div>
						</div>
						<div class="col-md-4">
							<img ng-src="{{holiday.trip.image}}" class="img-responsive" alt="Hotel">
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12 icons">
							<i class="fa fa-users"> </i> {{holiday.number_of_adults}}
							<span ng-if="holiday.number_of_childs_2_6"> + {{holiday.number_of_childs_2_6}}</span>
							<span ng-if="holiday.number_of_childs_6_12"> + {{holiday.number_of_childs_6_12}}</span>
						</div>
						<div class="col-md-12 icons">
							<i class="fa fa-calendar"> </i>{{holiday.from | date:"mediumDate"}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12 prices">
							<span class="pull-left"> Subtotal </span>
							<span class="pull-right"> ${{holiday.price}} </span>
						</div>
						<div class="col-md-12 prices">
							<span class="pull-left"> Service fee
								<i class="fa fa-question-circle-o"></i>
							</span>
							<span class="pull-right"> ${{holiday.service}} </span>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12 prices">
							<span class="pull-left"> Total (USD) </span>
							<span class="pull-right">
								<b> ${{holiday.total}} </b>
							</span>
						</div>
						<div class="col-md-12">
							<div class="fee-note">
								the quoted fees include any applicable exchange rate.
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-9">
							<div class="caution">
								<div class="title">
									Flexible - free cancellation
								</div>
								<div class="cancel">
									Cancel by Feb 28, 3:00 PM EET to get a full refund.
									<span class="more-details"> More details</span>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<!-- <i class="fa fa-shield fa-3x"></i> -->
							<img src="assets/img/sheild.png" class="img-responsive" alt="sheild">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="policy">
					<h3 class="tab-section-title">Cancellation policy: Flexible - free cancellation </h3>
					<div>Cancel up to 24 hours before check in and get a full refund (minus service fees) cancel within 24 hours of check in
						and the first night is
						<b> non-refundable </b> Service fees are refunded if cancellation happens before check in and within 48 hours of booking
					</div>
				</div>
				<div class="agreement">
					I agree to the
					<span class="blue-light">House Rules</span>,
					<span class="blue-light">Cancellation Policy</span> and to the
					<span class="blue-light">Guest Refund Policy</span>, I also agree to pay the total amount shown which includes Service Fees.
				</div>
			</div>
		</div>
	</div>
</section>