<style type="text/css">
.contact-header::after {
	background-image: url({{setting.contact_page.value.image}});
}
</style>
<div class="preloader" ng-show="dataLoading"></div>
<div class="contact-header"></div>
<section class="section-content">
	<div class="container">	
		<div class="row">
			<div class="col-sm-9 col-xs-12">
				<div ng-bind-html="setting.contact_page.value.content[$root.lang == 'us' ? 'en' : $root.lang]"></div>
				<hr ng-show="setting.contact_page.value.content[$root.lang == 'us' ? 'en' : $root.lang]">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 col-xs-12">
				<form name="contactForm" method="POST" class="contact-form">
					<div class="row" ng-show="contactSuccess">
						<div class="alert alert-info fade in">
							<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							{{'Contact_Us_Success' | translate}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>{{'Name' | translate}}<span class="required"> *</span></label>
								<input class="form-control" type="text" name="name" ng-model="contact.name" required="">
							</div>
							<div class="form-group">
								<label>{{'E-mail' | translate}}<span class="required"> *</span></label>
								<input class="form-control" type="email" name="email" ng-model="contact.email" required="">
							</div>
							<div class="form-group">
								<label>{{'Phone' | translate}}<span class="required"> *</span></label>
								<input class="form-control" type="text" name="phone" ng-model="contact.phone" required="">
							</div>
							<div class="form-group">
								<label>{{'Country' | translate}}<span class="required"> *</span></label>
								<ui-select ng-model="contact.country" theme="bootstrap" ng-change="listCitiesByCountry(contact.country.id)">
									<ui-select-match placeholder="{{'Choose_Country'| translate}}">
										{{$select.selected.name}}
									</ui-select-match>
									<ui-select-choices repeat="item as item in countriesDropdownList | filter: $select.search">
										<div ng-bind-html="item.name | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="form-group">
								<label>{{'City' | translate}}<span class="required"> *</span></label>
								<ui-select ng-model="contact.city" theme="bootstrap">
									<ui-select-match placeholder="{{'Choose_destination'| translate}}">
										{{$select.selected.name}}
									</ui-select-match>
									<ui-select-choices repeat="item as item in citiesDropdownList | filter: $select.search">
										<div ng-bind-html="item.name | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<div class="col-sm-6 padding-right-5">
									<div class="form-group has-feedback">
										<label>{{'From' | translate}}<span class="required"> *</span></label>
										<input type="text" class="form-control" uib-datepicker-popup="d MMMM yyyy" is-open="popup1.opened" min-date="minDate" close-text="Close" alt-input-formats="altInputFormats" ng-model="contact.from" ng-click="popup1.opened = true" name="startdate" id="startdate" max-date="maxDate" required="" readonly="">
										<span class="fa fa-calendar form-control-feedback blue-light"></span>
									</div>
								</div>
								<div class="col-sm-6 padding-left-5">
									<div class="form-group has-feedback">
										<label>{{'To' | translate}}<span class="required"> *</span></label>
										<input type="text" class="form-control" uib-datepicker-popup="d MMMM yyyy" is-open="popup2.opened" min-date="minDate" close-text="Close" alt-input-formats="altInputFormats" ng-model="contact.to" ng-click="popup2.opened = true" name="enddate" id="enddate" max-date="maxDate" required="" readonly="">
										<span class="fa fa-calendar form-control-feedback blue-light"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>{{'No_OF_Adults' | translate}}<span class="required"> *</span></label>
								<input class="form-control" type="text" name="adults" ng-model="contact.adults_numbers" required="">	
							</div>
							<div class="form-group">
								<label>
									{{'No_OF_Childs'| translate}} (2 - 6 {{'years'| translate}})<span class="required"> *</span>
								</label>
								<input class="form-control" type="text" name="child6" ng-model="contact.childs6_numbers" required="">
							</div>
							<div class="form-group">
								<label>
									{{'No_OF_Childs'| translate}} (6 - 12 {{'years'| translate}})<span class="required"> *</span>
								</label>
								<input class="form-control" type="text" name="child12" ng-model="contact.childs12_numbers" required="">
							</div>
							<div class="form-group">
								<label>{{'Please_advise_your_requirements' | translate}}</label>
								<textarea class="form-control" name="desc" cols="50" rows="4" ng-model="contact.message">
								</textarea>
							</div>
							<div class="row">
								<div class="col-sm-9">
									<p>
										{{'requierd_fields_indicator' | translate}}<span class="required"> *.</span>
									</p>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<button type="submit" class="btn btn-block btn-submit" ng-click="submit()">{{'Submit'| translate}}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>