<style type="text/css">
	.faq-header::after {
		background-image: url({{setting.faqs_page.value.image}});
	}
</style>
<div class="preloader" ng-show="dataLoading"></div>
<div class="faq-header"></div>
<section class="section-content">
	<div class="container">
		<div ng-bind-html="setting.faqs_page.value.content[$root.lang == 'us' ? 'en' : $root.lang]"></div>
		<uib-accordion close-others="false">
			<div uib-accordion-group class="panel-default" is-open="faq.open" ng-repeat="faq in faqsList" ng-class="{'faq-panel-open':faq.open, 'faq-panel-close':!faq.open}">
				<uib-accordion-heading>
					<div ng-class="{'faq-accordion-title-open':faq.open, 'faq-accordion-title-close':!faq.open}">
						<i class="pull-left fa" ng-class="{'fa-caret-down':faq.open, 'fa-caret-right':!faq.open}"></i>
						{{faq.question}}
						<i class="pull-right fa" ng-class="{'fa-times-rectangle-o':faq.open, 'fa-plus-square-o':!faq.open}"></i>
					</div>
				</uib-accordion-heading>
				<div class="row">
					<div class="col-md-12">
						<div class="accordion-body">
							<div class="row">
								<div class="col-md-8">
									<p>{{faq.answer}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-accordion>
	</div>
</section>
<section class="section-content">
	<div class="faq-contact">
		<div class="container">
			<div class="faq-contact-box">
				<div class="row">
					<div class="col-md-8">
						<i class="fa fa-volume-control-phone fa-rotate-310"></i>
						<span> {{'customer_support'|translate}} </span>
					</div>
					<div class="col-md-4">
						<a href="#/contactUs">
							<span class="contact-us-now pull-right">
								{{'Contact_Us_Now'|translate}}
								<i class="fa fa-chevron-right"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>