<div class="preloader" ng-show="dataLoading"></div>
<div id="holidaySlider" class="carousel slide" data-ride="carousel" ng-show="trip.trip_images.length >= 1">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#holidaySlider" ng-repeat="slide in trip.trip_images" ng-class="{'active':$first}" data-slide-to="{{$index}}"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item dark" class="item dark" ng-repeat="slide in trip.trip_images" ng-class="{'active':$first}">
			<img ng-src="{{slide.image}}" alt="Slider" class="img-responsive full-width holiday-slide-img">
		</div>
		<div class="holiday-caption">
			<h3 class="holiday-title">{{trip.title}}</h3>
			<p class="holiday-price">{{'Starting_From'| translate}} ${{trip.lowest_price}}</p>
			<div class="row">
				<div class="col-md-12">
					<div class="holiday-details">
						<p> {{'Location'| translate}}: <span> {{trip.city_name}} </span> </p>	
						<i class="fa fa-map-pin fa-2x"></i>
					</div>
				</div>
				<div class="col-md-12">
					<div class="holiday-details">
						<p> {{'Duration'| translate}}: <span> {{trip.duration}} </span> </p>	
						<i class="fa fa-calendar fa-2x"></i>
					</div>
				</div>
				<div class="col-md-12">
					<div class="holiday-details">
						<p> {{'Type'| translate}}: <span> {{trip.tour_type}} </span> </p>	
						<i class="fa fa-group fa-2x"></i>
					</div>
				</div>
				<div class="col-md-12">
					<div class="holiday-details">
						<p> {{'Run'| translate}}: <span> {{trip.run}} </span> </p>	
						<i class="fa fa-clock-o fa-2x"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Of slider -->
<section class="holiday-taps">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12 holiday-padding">
				<ul class="nav nav-pills nav-justified holiday-nav">
					<li class="active">
						<a prevent-default="" scroll-to="Overview" href="#Overview"><i class="fa fa-eye"> </i> {{'Overview'| translate}}</a>
					</li>
					<li>
						<a prevent-default="" scroll-to="Itinerary" href="#Itinerary"><i class="fa fa-map"> </i> {{'Itinerary'| translate}}</a>
					</li>
					<li ng-if="trip.type == 'accommodation'">
						<a prevent-default="" scroll-to="Accomodation" href="#Accomodation"><i class="fa fa-bed"> </i> {{'Accomodation'| translate}}</a>
					</li>
				</ul>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="tab-content" id="scrollSpy">
							<div id="Overview" class="tab-pane fade in active">
								<div ng-bind-html="trip.overview">
								</div>
								<div class="holiday-prices" ng-if="trip.type != 'accommodation'">
									<h3 class="tab-section-title" ng-if="trip.type !='transfer'">{{'Price_Per_Person'|translate}}:</h3>
									<h3 class="tab-section-title" ng-if="trip.type =='transfer'">{{'Price_Per_vehicle'|translate}}:</h3>
									<table class="price-details">
										<tr ng-repeat="row in trip.prices">
											<td><span class="price-size"><b>{{row.from}}-{{row.to}}</b> <!-- Persons --></span></td>
											<td><span class="price-per-person">$ {{row.price}} <!-- Per Person --></span></td>
										</tr>
										<tr ng-if="(trip.type == 'trip')">
											<td><span class="price-size"><b>Child (2-6 years)</b> <!-- Persons --></span></td>
											<td><span class="price-per-person">$ {{trip.childs_2_6}} <!-- Per Person --></span></td>
										</tr>
										<tr ng-if="(trip.type == 'trip')">
											<td><span class="price-size"><b>Child (6-12 years)</b> <!-- Persons --></span></td>
											<td><span class="price-per-person">$ {{trip.childs_6_12}} <!-- Per Person --></span></td>
										</tr>
									</table>
								</div>
								<div class="holiday-included">
									<h3 class="tab-section-title"><span class="tab-section-icon">+</span> {{'Included'| translate}}:</h3>
									<div ng-bind-html="trip.include"></div>
								</div>
								<div class="holiday-excluded">
									<h3 class="tab-section-title"><span class="tab-section-icon">-</span> {{'Excluded'| translate}}:</h3>
									<div ng-bind-html="trip.exclude"></div>
								</div>
							</div>
							<!-- End Of Overview Tap -->
							<div id="Itinerary" class="tab-pane fade in active" ng-if="trip.type != 'transfer'">
								<h3 class="tab-title"><i class="fa fa-map red-dark"> </i> {{'Itinerary'| translate}}:</h3>
								<uib-accordion close-others="false">
									<div uib-accordion-group class="panel-default" is-open="prog.open" ng-repeat="prog in trip.program">
										<uib-accordion-heading>
											<div class="accordion-title"> {{prog.title}}
												<i class="pull-right fa" ng-class="{'fa-angle-down':prog.open, 'fa-angle-right':!prog.open}"></i>
											</div>
										</uib-accordion-heading>
										<div class="row">
											<div class="col-md-12">
												<div class="accordion-body">
													<div class="row">
														<div class="col-md-4">
															<img ng-if="!prog.image" src="assets/img/orange.png" class="accordion-img">
															<img ng-if="prog.image" ng-src="{{prog.image}}" class="accordion-img">
														</div>
														<div class="col-md-8">
															<p>{{prog.description}}</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</uib-accordion>
							</div>
							<!-- End Of Itinerary Tap -->
							<div id="Accomodation" class="tab-pane fade in active" ng-if="trip.type == 'accommodation'  ">
								<h3 class="tab-title"><i class="fa fa-bed red-dark"> </i> {{'Accommodation'| translate}}:</h3>
								<div class="accommodation-plan" ng-repeat="hotel in trip.hotels track by $index">
									<div class="plan-title">{{'Accommodation_Plan'| translate}} ({{getCharacter($index)}}):</div>
									<div class="plan-box">
										<div class="row">
											<div class="col-md-3">
												<img ng-src="{{hotel.image}}" alt="Accomodation Plan A" class="img-responsive height-165">
											</div>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-12">
														<div class="hotel">
															<div class="hotel-name">{{hotel.name}}</div>
															<div class="hotel-stars">
																<i class="fa fa-star" ng-repeat="star in hotel.stars | range"></i>
																<br>
																<span class="hotel-stars-words" >{{hotel.rate_word}}</span>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6 col-xs-12" ng-repeat="room in hotel.rooms">
														<div class="row">
															<div class="col-md-5 col-xs-6 padding-right-0">
																<div class="hotel-rooms">
																	<span class="room-price">${{room.price}} </span>
																	<span class="room-type"> {{room.type}}</span>
																</div>
															</div>
															<!-- <div class="col-md-7 col-xs-6 padding-left-0">
																<button class="btn btn-check">{{'CHECK_AVAILABILITY'| translate}}</button>
															</div> -->
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> 
								</div>		
								<!-- End Of Plan Box -->
							</div> 
							<!-- End Of Accommodation Tap -->
							<div id="Policy" class="tab-pane fade in active">
								<div class="policy" ng-if="trip.children_policy && trip.type != 'transfer'">
									<h3 class="tab-section-title">{{'children_policy'|translate}}:</h3>
									<div ng-bind-html="trip.children_policy"></div>
								</div>
								<div class="policy" ng-if="trip.payment">
									<h3 class="tab-section-title">{{'payment'|translate}}:</h3>
									<div ng-bind-html="trip.payment"></div>
								</div>
								<div class="policy" ng-if="trip.tour_voucher">
									<h3 class="tab-section-title">{{'tour_voucher'|translate}}:</h3>
									<div ng-bind-html="trip.tour_voucher"></div>
								</div>
								<div class="policy" ng-if="trip.cancellation_policy">
									<h3 class="tab-section-title">{{'cancellation_policy'|translate}}:</h3>
									<div ng-bind-html="trip.cancellation_policy"></div>
								</div>
								<div class="policy" ng-if="trip.pick_off" >
									<h3 class="tab-section-title">{{'notes'|translate}}:</h3>
									<div ng-bind-html="trip.pick_off"></div>
								</div>
								<div class="policy" ng-if="trip.drop_off && trip.type == 'transfer'">
									<h3 class="tab-section-title">{{'notes'|translate}}:</h3>
									<div ng-bind-html="trip.drop_off"></div>
								</div>
							</div> 
							<!-- End Of Policy Tap -->
						</div>
						<!-- End Of Taps Content -->
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 enquire-padding">
				<ul class="nav nav-pills nav-justified enquire-list">
					<li class="active">
						<a href="">{{'ENQUIRE_NOW'| translate}}</a>
					</li>
				</ul>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="tab-content tab-enquire" id="scrollSpy">
							<div id="Overview" class="tab-pane fade in active">
								<form name="enquireForm" method="POST" class="enquire-form">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input class="form-control" type="text" name="name" placeholder="{{'Name'| translate}} *" ng-model="enquire.name" required="">
											</div>
											<div class="form-group">
												<input class="form-control" type="email" name="email" placeholder="{{'E-mail'| translate}} *" ng-model="enquire.email" required="">
											</div>
											<div class="form-group">
												<input class="form-control" type="text" name="phone" placeholder="{{'Phone'| translate}} *" ng-model="enquire.phone" required="">
											</div>
											<div class="form-group">
												<ui-select ng-model="enquire.nationality" theme="bootstrap" ng-required="true">
													<ui-select-match placeholder="{{'Choose_Nationality'| translate}} *">
														{{$select.selected.name}}
													</ui-select-match>
													<ui-select-choices repeat="item.name as item in nationalitiesList | filter: $select.search">
														<div ng-bind-html="item.name | highlight: $select.search"></div>
													</ui-select-choices>
												</ui-select>
											</div>
											<div class="form-group">
												<ui-select ng-model="enquire.tour_language" theme="bootstrap">
													<ui-select-match placeholder="{{'Choose_Tour_Language'| translate}}">
														{{$select.selected.name}}
													</ui-select-match>
													<ui-select-choices repeat="item.name as item in toursLanguageList | filter: $select.search">
														<div ng-bind-html="item.name | highlight: $select.search"></div>
													</ui-select-choices>
												</ui-select>
											</div>
											<div class="form-group" ng-if="trip.type == 'accommodation'">
												<ui-select ng-model="enquire.accommodation" theme="bootstrap" ng-required="true">
													<ui-select-match placeholder="{{'Choose_PACKAGE'| translate}} *">
														{{$select.selected.name}}
													</ui-select-match>
													<ui-select-choices repeat="item.name as item in trip.hotels | filter: $select.search">
														<div ng-bind-html="item.name | highlight: $select.search"></div>
													</ui-select-choices>
												</ui-select>
											</div>
											<div class="form-group has-feedback">
												<input type="text" class="form-control" uib-datepicker-popup="d MMMM yyyy" is-open="popup1.opened" min-date="minDate" close-text="Close" alt-input-formats="altInputFormats" ng-model="enquire.from" ng-click="popup1.opened = true" name="startdate" id="startdate" max-date="maxDate" placeholder="{{'From'| translate}} *" required="" readonly="">
												<span class="fa fa-calendar form-control-feedback blue-light"></span>
											</div>
<!-- 											<div class="form-group" ng-repeat="priceType in trip.prices track by $index">
												<input class="form-control" type="text" name="{{priceType.size}}" placeholder="{{priceType.size | translate}} *" ng-model = "enquire.prices[priceType.size]" required="" ng-change="calculateTotalPrices(enquire.prices[priceType.size], priceType, trip.prices)">
											</div> -->
											<div class="form-group" ng-if="trip.type == 'transfer'">
												<input class="form-control" type="number" min="0" name="{{priceType.size}}" placeholder="{{'No_OF_PAX'| translate}} *" ng-model = "enquire.adults" required="" ng-change="calculateTotalPrices($index, priceType, trip.prices)">
											</div>
											<div class="form-group" ng-if="trip.type == 'transfer'">
												<input class="form-control" type="text"  name="flight_number" placeholder="{{'flight_number'| translate}}" ng-model="enquire.flight_number">
											</div>
											<div class="form-group" ng-if="trip.type == 'transfer'">
												<input class="form-control" type="text" name="airline" placeholder="{{'airline'| translate}}" ng-model="enquire.airline">
											</div>
											<div class="form-group" ng-if="trip.type != 'transfer'">
												<input class="form-control" type="number" min="0" name="{{priceType.size}}" placeholder="{{'No_OF_Adults'| translate}} *" ng-model = "enquire.adults" required="" ng-change="calculateTotalPrices($index, priceType, trip.prices)">
											</div>
											
											<div class="form-group" ng-if="trip.type == 'transfer'">
												<md-checkbox ng-model="enquire.reservation_details['baby_chair']">
													{{'Baby_Chair'|translate}}
												</md-checkbox>
											</div>
											<!-- <div class="form-group">
												<input class="form-control" type="text" name="adults" placeholder="{{'No_OF_Adults'| translate}} *" ng-model="enquire.adults_numbers" required="" 
												>	
											</div> -->
											<!-- <div class="form-group" ng-if="trip.type == 'accommodation'">
												<input class="form-control" type="number" min="0" name="child" placeholder="{{'No_OF_Childs'| translate}}*" ng-model="enquire.childs" required="">
											</div> -->
											<div class="form-group" ng-if="trip.type != 'transfer'">
												<input class="form-control" type="number" min="0" name="child6" placeholder="{{'No_OF_Childs'| translate}} (2 - 6 {{'years'| translate}}) " ng-model="enquire.childs6_numbers" ng-change="calculateTotalPrices($index, priceType, trip.prices)">
											</div>
											<div class="form-group" ng-if="trip.type != 'transfer'">
												<input class="form-control" type="number" min="0" name="child12" placeholder="{{'No_OF_Childs'| translate}} (6 - 12 {{'years'| translate}}) " ng-model="enquire.childs12_numbers" ng-change="calculateTotalPrices($index, priceType, trip.prices)">
											</div>

											<div class="form-group" ng-if="trip.type != 'accommodation'">
												<input class="form-control" type="text" name="pick_off" placeholder="{{'pick_off'| translate}} *" ng-model="enquire.pick_off" required="">
											</div>
											<div class="form-group" ng-if="trip.type != 'accommodation'">
												<input class="form-control" type="text" name="drop_off" placeholder="{{'drop_off'| translate}} *" ng-model="enquire.drop_off" required="">
											</div>
											<div class="form-group">
												<textarea class="form-control" name="desc" cols="50" rows="4" placeholder="{{'Please_advise_your_requirements'| translate}}" ng-model="enquire.description"></textarea>
											</div>
											<div class="form-group" ng-if="trip.type != 'accommodation'">
												<h4>{{'TOTAL'|translate}}: 
													<span class="total-price"> {{totalPrice ? totalPrice : 0}} USD</span>
												</h4>
											</div>
											<div class="row" ng-show="enquireSuccess">
												<div class="alert alert-success fade in">
													<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
													{{'Enquire_Us_Success' | translate}}
												</div>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-block btn-submit" ng-disabled="saving" ng-click="reserve(enquire)">{{'Submit'| translate}}</button>
											</div>
											<div class="form-group">
												<label>{{'enquire_msg'|translate}}</label>
											</div>
										</div>
									</div>
								</form>
							</div>
							<!-- End of Enquire Form Tap -->
						</div>
						<!-- End Of Tap Content -->
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
<!-- End Of Holiday Taps Section -->

<section class="related-trips">
	<div class="container">
		<h2 class="related-title" ng-show="trip.related.length >= 1">{{'You_Might_Also_Like'|translate}}</h2>
		<div class="row">
			<div class="col-sm-5 col-xs-12" ng-repeat="relatedTrip in trip.related | limitTo:4">
				<figure class="image">
					<a ui-sref="holiday({tripId: relatedTrip.id})" target="_blank">
						<img ng-src="{{relatedTrip.image}}" alt="Trip" class="img-category img-responsive">
						<div class="img-title">
							<h3 class="red">{{relatedTrip.title | limitTo : 35}}{{relatedTrip.title.length > 35 ? '...' : ''}}
								<br>
								<span> {{'From'| translate}} {{relatedTrip.lowest_price}} $ </span>
							</h3>
						</div>
					</a>
				</figure>
			</div>
		</div>
	</div>
</section>
<!-- End Of Related Trip Section -->