<div class="preloader" ng-show="dataLoading"></div>
<div class="preloader-transparent" ng-show="dataTransparentLoading"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-show="slidersList.length >= 1">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" ng-repeat="slide in slidersList" ng-class="{'active':$first}" data-slide-to="{{$index}}"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item dark" ng-repeat="slide in slidersList" ng-class="{'active':$first}">
			<img ng-src="{{slide.image}}" alt="Slider" class="img-responsive full-width slide-img">
			<div class="carousel-caption">
				<h3>{{slide.trip_notes}}</h3>
				<p>{{slide.short_description}}</p>
			</div>
		</div>
	</div>
	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<div class="glyphicon-ring-left"> <span class="glyphicon glyphicon-menu-left glyphicon-bordered"></span> </div>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<div class="glyphicon-ring-right"> <span class="glyphicon glyphicon-menu-right glyphicon-bordered"></span> </div>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="home-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form name="searchForm" method="POST" novalidate="">
					<div class="row">
						<div class="col-sm-2 col-xs-12">
							<div class="form-group">
								<label for="country"><b>{{'Country' | translate}}</b></label>
								<ui-select ng-model="country_id" theme="bootstrap" ng-change="listCitiesByCountry(country_id)">
									<ui-select-match placeholder="{{'Choose_Country'| translate}}">
										{{$select.selected.name}}
									</ui-select-match>
									<ui-select-choices repeat="item.id as item in countriesDropdownList | filter: $select.search">
										<div ng-bind-html="item.name | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-sm-2 col-xs-12">
							<div class="form-group">
								<label for="country"><b>{{'City' | translate}}</b></label>
								<ui-select ng-model="searchText.city_id" theme="bootstrap">
									<ui-select-match placeholder="{{'Choose_destination'| translate}}">
										{{$select.selected.name}}
									</ui-select-match>
									<ui-select-choices repeat="item.id as item in citiesDropdownList | filter: $select.search">
										<div ng-bind-html="item.name | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-sm-2 col-xs-12">
							<div class="form-group">
								<label for="country"><b>{{'Duration' | translate}}</b></label>
								<ui-select ng-model="searchText.number_of_itineraries" theme="bootstrap">
									<ui-select-match placeholder="{{'Duration'| translate}}">
										{{$select.selected}} {{$select.selected == 1 ? 'Day' : 'Days'}}
									</ui-select-match>
									<ui-select-choices repeat="item as item in itinerariesDropdownList | filter: $select.search">
										<div>{{item | highlight: $select.search}} {{item == 1 ? 'Day' : 'Days'}}</div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="form-group">
								<label><b>{{'Search_what_you_like'| translate}}</b></label>
								<input class="form-control" type="text" name="Search" ng-model="searchText.keyword" placeholder="{{'Keyword'|translate}}">
							</div>
						</div>
						<div class="col-sm-2 col-xs-12">
							<div class="form-group margin-top-search">
								<button type="submit" class="btn btn-search btn-block" ng-click="search(searchText)"><b>{{'Search'| translate}}</b></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<section class="block">
	<div class="container">
		<div class="home-categories">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="city in citiesList | limitTo:4">
					<figure class="image" ng-click="searchByCity(city.id)">
						<img ng-src="{{city.image}}" alt="city" class="img-category img-responsive">
						<div class="img-title left">
							<h2 class="blue">{{city.name}}</h2>
						</div>
					</figure>
				</div>
			</div>
			<div class="row" ng-if="categoriesList.length >= 6">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<figure class="image" ng-click="searchByCategory(categoriesList[0].id)">
						<img ng-src="{{categoriesList[0].image}}" alt="Category" class="img-category img-responsive">
						<div class="img-title left">
							<h2 class="red">{{categoriesList[0].name}}</h2>
						</div>
					</figure>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<figure class="image" ng-click="searchByCategory(categoriesList[1].id)">
						<img ng-src="{{categoriesList[1].image}}" alt="Category" class="img-category img-responsive">
						<div class="img-title left">
							<h2 class="red">{{categoriesList[1].name}}</h2>
						</div>
					</figure>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<figure class="image" ng-click="searchByCategory(categoriesList[2].id)">
							<img ng-src="{{categoriesList[2].image}}" alt="Category" class="img-category img-responsive">
							<div class="img-title left">
								<h2 class="red">{{categoriesList[2].name}}</h2>
							</div>
						</figure>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<figure class="image" ng-click="searchByCategory(categoriesList[3].id)">
							<img ng-src="{{categoriesList[3].image}}" alt="Category" class="img-category img-responsive">
							<div class="img-title left">
								<h2 class="red">{{categoriesList[3].name}}</h2>
							</div>
						</figure>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<figure class="image" ng-click="searchByCategory(categoriesList[4].id)">
							<img ng-src="{{categoriesList[4].image}}" alt="Category" class="img-category img-responsive">
							<div class="img-title left">
								<h2 class="red">{{categoriesList[4].name}}</h2>
							</div>
						</figure>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<figure class="image" ng-click="searchByCategory(categoriesList[5].id)">
							<img ng-src="{{categoriesList[5].image}}" alt="Category" class="img-category img-responsive height-570">
							<div class="img-title left">
								<h2 class="red">{{categoriesList[5].name}}</h2>
							</div>
						</figure>
					</div>
				</div>
			</div>
			<div class="row" ng-if="categoriesList.length < 6">
				<div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="cat in categoriesList">
					<figure class="image" ng-click="searchByCategory(cat.id)">
						<img ng-src="{{cat.image}}" alt="Category" class="img-category img-responsive">
						<div class="img-title left">
							<h2 class="red" >{{cat.name}}</h2>
						</div>
					</figure>
				</div>
			</div>	
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="center" ng-show="tripsList.length >= 1">
			<div class="section-title">
				<h2>{{'Trending' | translate}}</h2>
			</div>	
		</div>
		<div class="trending" ng-repeat="trend in tripsList">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12" ng-if="trend.image">
					<figure class="image">
						<a ui-sref="holiday({tripId: trend.id})" target="_blank">
							<img ng-src="{{trend.image}}" alt="Trending" class="img-category img-responsive">
						</a>
<!-- 						<div class="img-title  half-width">
							<h2 class="price">{{'Price' | translate}} <br><span> ${{trend.lowest_price}}  </span></h2>
						</div>
						<div class="img-title title-right  half-width">
							<h2 class="browse" >{{'Browse' | translate}}</h2>
						</div> -->
					</figure>
				</div>	
				<div class="col-md-7 col-sm-12 col-xs-12">
					<div class="trending-box">
						<a ui-sref="holiday({tripId: trend.id})" target="_blank">
							<div class="trending-title">{{trend.title}}</div>
						</a>
						<div class="trending-overview">{{trend.short_description}}</div>
<!-- 						<div class="trending-categories" ng-if="trend.categories">
							<button type="button" class="btn btn-outline-info" ng-repeat="trendCategory in trend.categories" ng-click="searchByCategory(trendCategory.id)">{{trendCategory.name}}
							</button>
						</div> -->
						<div class="trending-details">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="trending-duration">
										<i class="fa fa-clock-o"></i> 
										<p> {{'Duration' | translate}}: <span> {{trend.duration}} </span> </p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="trending-price">
										<i class="fa fa-usd"></i> 
										<p> {{'Price' | translate}}: <span> ${{trend.lowest_price}} </span> </p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="trending-type">
										<i class="fa fa-users"></i> 
										<p> {{'Type' | translate}}: <span> {{trend.tour_type}} </span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid no-padding grey">
		<div class="center">
			<div class="section-title">
				<h2>{{'Why_us'| translate}}</h2>
			</div>	
		</div>
		<div class="about-content">
			<div class="container">
				<ul class="nav nav-pills nav-justified about-nav">
					<li class="tahrir-tours active">
						<a data-toggle="pill" href=".tours" ng-click="activate(1)"><img ng-src="{{toursImg}}"><br>{{'Tahrir_Tours' | translate}}</a>
					</li>
					<li class="how-to-book">
						<a data-toggle="pill" href=".booking" ng-click="activate(2)"><img ng-src="{{bookingImg}}"><br>{{'How_to_book' | translate}}</a>
					</li>
					<li class="crazy-deals">
						<a data-toggle="pill" href=".deals" ng-click="activate(3)"><img ng-src="{{dealsImg}}"><br>{{'Crazy_Deals' | translate}}</a>
					</li>
				</ul>
				<div class="row">
					<div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1">
						<div class="tab-content">
							<div id="tours" class="tab-pane fade in active tours">
								<p>{{tabs.tours.description}}</p>
							</div>
							<div id="booking" class="tab-pane fade booking">
								<p>{{tabs.booking.description}}</p>
							</div>
							<div id="deals" class="tab-pane fade deals">
								<p>{{tabs.deals.description}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section ng-show="partnersList.length >= 6">
	<div class="container-fluid no-padding">
		<div class="center">
			<div class="section-title">
				<h2>{{'Our_Partners'| translate}}</h2>
			</div>	
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav" data-ride="carousel">
						<div class="carousel-inner">
							<div partners partnersList="partnersList" class="item" ng-repeat="partner in partnersList" ng-class="{'active':$first}">
								<div class="col-xs-4 col-sm-3 col-md-2">
									<img ng-src="{{partner.image}}" alt="partner" class="img-responsive">
								</div>
							</div>
						</div>
						<a class="left carousel-control partners" href="#carousel-tilenav" data-slide="prev">
							<div class="glyphicon-square-left"> <i class="glyphicon glyphicon-menu-left"></i> </div>
						</a> 
						<a class="right carousel-control partners" href="#carousel-tilenav" data-slide="next">
							<div class="glyphicon-square-right"> <i class="glyphicon glyphicon-menu-right"></i> </div> 
						</a> 
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</section>	