<style type="text/css">
	.package-header::after {
		background-image: url({{packageImgs.image}});
	}
</style>
<div class="preloader" ng-show="dataLoading && !loadMoredata"></div>
<div class="package-header"></div>
<section class="package-content">
	<div class="package-search">
		<div class="container">
			<div class="mobileFilterContainer">
				<div class="divisorForFilter20">
					<h4>
						{{'filter_by'|translate}}
					</h4>
				</div>
				<div class="divisorForFilter80">
					<div class="btn-group">
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{'City'|translate}}
								<span class="fa fa-angle-down"></span>
							</button>
							<ul class="dropdown-menu  dropdown-radio">
								<md-radio-group ng-model="city_id" ng-change="filterPackagesbyCity(city_id)">
									<md-radio-button value="all" class="md-primary"> All </md-radio-button>
									<md-radio-button ng-repeat="city in citiesList" ng-value="{{city.id}}"> {{city.name}}
									</md-radio-button>
								</md-radio-group>
							</ul>
						</div>
					</div>
					<div class="btn-group">
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{'Categories'|translate}}
								<span class="fa fa-angle-down"></span>
							</button>
							<ul class="dropdown-menu  dropdown-checkbox">
								<li ng-repeat="cat in categoriesList">
									<md-checkbox checklist-model="filter.categoriesIDs" checklist-value="cat.id" ng-change="filterPackagesbyCategory()">{{cat.name}}</md-checkbox>
								</li>
							</ul>
						</div>
					</div>
					<div class="btn-group">
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{'Duration' | translate}}
								<span class="fa fa-angle-down"></span>
							</button>
							<ul class="dropdown-menu  dropdown-radio">
								<md-radio-group ng-model="number_of_itineraries" ng-change="filterPackagesbyItineraries(number_of_itineraries)">
									<md-radio-button value="all" class="md-primary"> All </md-radio-button>
									<md-radio-button ng-repeat="itinerary in itinerariesList" ng-value="{{itinerary}}"> {{itinerary}} {{itinerary == 1 ? 'Day' : 'Days'}}
									</md-radio-button>
								</md-radio-group>
							</ul>
						</div>
					</div>
					<div class="btn-group">
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{'Price_Range'|translate}}
								<span class="fa fa-angle-down"></span>
							</button>
							<ul class="dropdown-menu  dropdown-radio">
								<md-radio-group ng-model="priceFilter" ng-change="filterPackagesbyPrice(priceFilter)">
									<md-radio-button value="none" class="md-primary"> None </md-radio-button>
									<md-radio-button ng-repeat="price in PricesList" ng-value="{{price}}"> 
										 ${{price.val1}} <span ng-if="price.val2"> - ${{price.val2}} </span>
									</md-radio-button>
								</md-radio-group>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="center" ng-if="NoData">
			<h3 class="no-data">There Are No Trips Available Right Now.</h3>
		</div>
		<div class="center" ng-if="tripsList.length < 1 && !NoData" style="height: 500px;width: 100%;"> </div>
		<div class="trending" ng-repeat="trend in tripsList">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12" ng-if="trend.image">
					<figure class="image">
						<a ui-sref="holiday({tripId: trend.id})" target="_blank">
							<img ng-src="{{trend.image}}" alt="Trending" class="img-category img-responsive">
						</a>
						<!-- 						<div class="img-title  half-width">
							<h2 class="price">{{'Price' | translate}} <br><span> ${{trend.lowest_price}}  </span></h2>
						</div>
						<div class="img-title title-right  half-width">
							<h2 class="browse" >{{'Browse' | translate}}</h2>
						</div> -->
					</figure>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
					<div class="trending-box">
						<a ui-sref="holiday({tripId: trend.id})" target="_blank">
							<div class="trending-title">{{trend.title}}</div>
						</a>
						<div class="trending-overview">{{trend.short_description}}</div>
						<!-- 						<div class="trending-categories" ng-if="trend.categories">
							<button type="button" class="btn btn-outline-info" ng-repeat="trendCategory in trend.categories" ng-click="searchByCategory(trendCategory.id)">{{trendCategory.name}}
							</button>
						</div> -->
						<div class="trending-details">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="trending-duration">
										<i class="fa fa-clock-o"></i>
										<p> {{'Duration' | translate}}:
											<span> {{trend.duration}} </span>
										</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="trending-price">
										<i class="fa fa-usd"></i>
										<p> {{'Price' | translate}}:
											<span> ${{trend.lowest_price}} </span>
										</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="trending-type">
										<i class="fa fa-users"></i>
										<p> {{'Type' | translate}}:
											<span> {{trend.tour_type}} </span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="preloader-transparent" ng-show="loadMoredata"></div>
		<div class="row" ng-show="tripsList.length">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<button type="button" class="btn btn-block btn-red" ng-click="loadMoreTrips()" ng-if="page < pagesCount">{{'load_more'| translate}}</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</section>