<style type="text/css">
.about-header::after {
	background-image: url({{setting.terms_page.value.image}});
}
</style>
<div class="preloader" ng-show="dataLoading"></div>
<div class="about-header"></div>
<section class="section-content">
	<div class="container">
		<div ng-bind-html="setting.terms_page.value.content[$root.lang == 'us' ? 'en' : $root.lang]"></div>
	</div>
</section>