/*------------------------------------------------------------------

[Table of contents]

1. Header
2. Hero Slider
3. Elements Styling
4. Universal classes
5. Classes
6. Forms
7. Responsive

[Color codes]

Color blue light: #6fb3e2;
Color red dark: #a71d22;

[Typography]

Body copy:    'Lato', sans-serif; 18px;
Headers:    'Lato', sans-serif;

-------------------------------------------------------------------*/
html {
  box-sizing: border-box;
  background-color: white !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration:none;
}
a:hover,
a:focus {
  text-decoration:none;
}
body {
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
/* ---------- SECTION ---------- */
section {
  position: relative;
}
/* ---------- PRELOADER ---------- */
.preloader { background-color:#ffffff; background-image:url("../img/preloader.gif"); background-position:center center; background-repeat:no-repeat; height:100%; left:0px; position:fixed; top:0px; width:100%; z-index:999999;}
.preloader-transparent { background-color:rgba(00,00,00,0.2); background-image:url("../img/preloader.gif"); background-position:center center; background-repeat:no-repeat; height:100%; left:0px; position:fixed; top:0px; width:100%; z-index:999999;}

/*  ---------- Header ----------*/
.header-logo {
  float: left;
}
.logo-img {
  float: left;
}
.logo-title {
  color: #a71d22;
  font-weight:900;
  font-size: 27px;
  margin-left: 10px;
  margin-top: 5px;
  float: left;
}
.sub-title {
  color: #6fb3e2;
  font-weight:400;
}
.contact-info {
  margin-top: 8px;
}
.contact-item {
  /*color: #a1b1bc;*/
  color: #fff;
  font-size: 16px; 
  margin: 5px 0px;
}
.nav-link {
  font-size: 19px;
}
.margin-r-10 {
  margin-right: 10px;
}

.dark {
  background-color: #000;
}

.img-opacity {
  opacity: .7;
}

.block {
  padding-top: 30px;
}
.home-categories img {
  height: 270px;
}
.img-category 
{
  width: 100%;
  margin-bottom: 30px;
  background-color: #a71d22;
  cursor: pointer;
}
.height-270 {
  height: 270px;
}
.height-370 {
  height: 370px;
}
.height-300 {
  height: 300px;
}
.height-330 {
  height: 330px;
}
.image {
  position: relative; 
}
.img-title {
  position: absolute; 
  cursor: pointer;
  bottom: 0;
  left: 0; 
  width: 100%; 
}
.title-right {
  left: 50%;
}
.img-title h2 { 
  font-weight: 700;
  font-size: 23px;
  color: #fff; 
  letter-spacing: -1px;  
  padding: 8px; 
  text-align: center;
  margin-bottom: 0px;
}
.img-title h3 { 
  font-weight: 400;
  font-size: 20px;
  color: #fff; 
  letter-spacing: -1px;  
  padding: 8px; 
  text-align: center;
  margin-bottom: 0px;
}
.img-title h3 span { 
  font-size: 18px;
}
.blue {
  background: rgb(111, 179, 226); /* fallback color */
  background: rgba(111, 179, 226, 0.7);
}
.red  {
  background: rgb(167, 29, 34); /* fallback color */
  background: rgba(167, 29, 34, 0.7);
}
.blue-light {
  color: #6fb3e2;
}
.red-dark {
  color: #a71d22;
}
.white {
  color: #fff;
}
.placeholder-color {
  color: #a1b1bc !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a1b1bc !important;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a1b1bc !important;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a1b1bc !important;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a1b1bc !important;
  font-size: 14px;
}
.left h2 {
  text-align: left;
  padding-left: 30px;
}

.half-width {
  width: 50%;
}
.no-padding {
  padding:0;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-margin {
  margin: 0;
}
.carousel-caption h3 {
  font-weight: 700;
  font-size: 25px;
}
.carousel-caption p {
  font-weight: 900;
  font-size: 18px;
  color: #6fb3e2;
}
@media screen and (min-width: 768px) {
  .carousel-caption h3 {
    font-weight: 700;
    font-size: 37px;
  }
  .carousel-caption p {
    font-weight: 900;
    font-size: 23px;
    color: #6fb3e2;
  }
}
.section-title {
  margin-bottom: 30px;
}
.section-title h2 {
  font-weight: 900;
  font-size: 30px;
  color: #a71d22;
}
.center {
  text-align: center;
}
.margin-1 {
  margin: -1px;
}

.price {
  padding: 10px !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  background: rgb(167, 29, 34); 
  border: 1px solid rgba(255,255,255,0.5);
}
.price span {
  font-size: 22px;
  font-weight: 700 !important;
  font-style: italic;
}
.browse {
  padding: 22px !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255,255,255,0.5);
}
.browse a {
  color: #fff;
  text-decoration: none;
}
.trending {
  margin-bottom: 20px;
  border:1px solid #6fb3e2;
}
.trending img {
  height: 260px;
  margin: 0px;
}
.trending-img{
  margin: 0px -1px;
  border-left: 1px solid #6fb3e2;
  border-left-color: rgba(111, 179, 226, 0.3);
}
.trending-box {
  position: relative;
  padding: 20px 20px 0px 20px;
  /*min-height: 450px;  for mobile */
  overflow: auto;
}
/*.trending-overview {
  max-height: 240px;
  overflow: overlay;
}
.trending-overview::-webkit-scrollbar {
    display:none;
    }*/
    .slide-img {
      position: relative;
      min-height: 260px;
      max-height: 550px;
    }
    .holiday-slide-img {
      position: relative;
      min-height: 365px;
      max-height: 550px;
    }
    .full-width {
      width: 100%
    }
    .trending-title {
      font-size: 20px;
      font-weight: 900;
      font-style: italic;
      color: #a71d22;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .trending-details i {
      color: #6fb3e2;
      font-size: 35px;
      vertical-align: super;
      width: 40px;
      text-align: center;
    }
    .trending-details p {
      display: inline-block;
      margin-left: 10px;
      color: #6fb3e2;
    }
    .trending-details span {
      display: block;
      color: #000;
    }
    .btn-outline-info {
      color: #6fb3e2;
      letter-spacing: 1px;
      line-height: 15px;
      border: 2px solid #6fb3e2;
      border-radius: 40px;
      background: transparent;
      transition: all 0.3s ease 0s;
      margin-right:5px;
      margin-top: 5px;
      font-size: 12px;
    }

    .btn-outline-info:hover {
      color: #FFF;
      background: rgba(91, 192, 222, 0.75);
      border: 2px solid rgba(91, 192, 222, 0.75);
    }
    .trending-categories {
      margin: 15px 0px 10px 0px;
    }
    .tahrir-tours {
      text-align:center;
    }
    .how-to-book {
      text-align:center;
    }
    .crazy-deals {
      text-align:center;
    }
    @media screen and (min-width: 768px) {
      .trending-box {
        position: relative;
        padding: 20px 20px 0px 0px;
        min-height: 250px; /* for PC */
        overflow: unset;
      }
      .trending-details {
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .trending-details i {
        width: 30px;
      }
      .btn-outline-info {
        font-size: 14px;
      }
/*  .trending-overview {
    max-height: 175px;
    overflow: overlay;
  }
  .trending-overview::-webkit-scrollbar {
    display:none;
    } */
    .slide-img {
      height: 470px !important;
    }
    .holiday-slide-img {
      height: 470px !important;
    }
    .about-content {
      padding: 30px ;
    }
  }

  .about-content p {
    font-size: 21px;
  }
  .grey {
    background-color: #f3f3f3;
  }
  .about-nav {
    padding-bottom: 30px;
  }
  .about-nav li {
    display:table-cell !important;
  }
  .about-nav a {
    font-weight: 700;
    font-size: 20px;
    background-color: #f3f3f3;
    color: #000;
  }
  .about-nav img {
    margin-bottom: 10px;
  }

/*.about-nav a:hover {
  color: #6fb3e2;
  }*/

  .carousel-showmanymoveone .carousel-control {
   width: 4%;
   background-image: none;
 }

 .carousel-showmanymoveone .carousel-control.left {
   margin-left: 0;
 }

 .carousel-showmanymoveone .carousel-control.right {
   margin-right: 0;
 }

 .carousel-showmanymoveone .cloneditem-1,
 .carousel-showmanymoveone .cloneditem-2,
 .carousel-showmanymoveone .cloneditem-3 {
   display: none;
 }

 .carousel .item .col-xs-12 {
   padding: 0;
 }


 /* Medium Devices, Desktops */

 @media only screen and (max-width: 992px) {
   .carousel .item .col-xs-12:nth-last-child(-n+2) {
    display: none;
  }
}

@media all and (min-width: 768px) {
 .carousel-showmanymoveone .carousel-inner > .active.left,
 .carousel-showmanymoveone .carousel-inner > .prev {
  left: -50%;
}
.carousel-showmanymoveone .carousel-inner > .active.right,
.carousel-showmanymoveone .carousel-inner > .next {
  left: 50%;
}
.carousel-showmanymoveone .carousel-inner > .left,
.carousel-showmanymoveone .carousel-inner > .prev.right,
.carousel-showmanymoveone .carousel-inner > .active {
  left: 0;
}
.carousel-showmanymoveone .carousel-inner .cloneditem-1 {
  display: block;
}
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
 .carousel-showmanymoveone .carousel-inner > .item.active.right,
 .carousel-showmanymoveone .carousel-inner > .item.next {
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  left: 0;
}
.carousel-showmanymoveone .carousel-inner > .item.active.left,
.carousel-showmanymoveone .carousel-inner > .item.prev {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  left: 0;
}
.carousel-showmanymoveone .carousel-inner > .item.left,
.carousel-showmanymoveone .carousel-inner > .item.prev.right,
.carousel-showmanymoveone .carousel-inner > .item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
}
}

@media all and (min-width: 992px) {
 .carousel-showmanymoveone .carousel-inner > .active.left,
 .carousel-showmanymoveone .carousel-inner > .prev {
  left: -16.6%;
}
.carousel-showmanymoveone .carousel-inner > .active.right,
.carousel-showmanymoveone .carousel-inner > .next {
  left: 16.6%;
}
.carousel-showmanymoveone .carousel-inner > .left,
.carousel-showmanymoveone .carousel-inner > .prev.right,
.carousel-showmanymoveone .carousel-inner > .active {
  left: 0;
}
.carousel-showmanymoveone .carousel-inner .cloneditem-2,
.carousel-showmanymoveone .carousel-inner .cloneditem-3 {
  display: block;
}
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
 .carousel-showmanymoveone .carousel-inner > .item.active.right,
 .carousel-showmanymoveone .carousel-inner > .item.next {
  -webkit-transform: translate3d(16.6%, 0, 0);
  transform: translate3d(16.6%, 0, 0);
  left: 0;
}
.carousel-showmanymoveone .carousel-inner > .item.active.left,
.carousel-showmanymoveone .carousel-inner > .item.prev {
  -webkit-transform: translate3d(-16.6%, 0, 0);
  transform: translate3d(-16.6%, 0, 0);
  left: 0;
}
.carousel-showmanymoveone .carousel-inner > .item.left,
.carousel-showmanymoveone .carousel-inner > .item.prev.right,
.carousel-showmanymoveone .carousel-inner > .item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
}
}
.background-blue {
  background-color: #6fb3e2
}
.grey-img
{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.carousel .item.active .col-md-2:nth-child(3) .grey-img {
  filter: none !important;
  -webkit-filter: grayscale(0%) !important;
}


.contact-us h2 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-us h2 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-us p {
  font-size: 14px;
  color: #fff;
}

.footer-font-icon {
  margin-top: 40px;
}
.footer-font-icon > li{
  padding-right: 0;
}
.footer-font-icon a {
  border: 1px solid;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 12px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.footer-font-icon a:hover {
  background-color: #a0cbe8;
}
.input-group-addon {
  background-color: rgb(67,67,67);
  background-color: rgba(67,67,67,0.2);
  color: #fff;
  border: none;
}
.contact-us input,
.contact-us textarea {
  background-color: rgb(67,67,67);
  background-color: rgba(67,67,67,0.2);
  border: none;
  color: #fff;
  resize: none;
}
.contact-us input:focus,
.contact-us textarea:focus {
  background-color: rgb(43,43,43);
  background-color: rgba(43,43,43,0.4);
  border: 1px solid;
  border-color: rgba(255,255,255, 0.5) !important;
  color: #fff;
}

.contact-us button {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  background-color: #a71d22;
  border: 1px solid #fff;
  border-bottom: 3px solid #fff;
  text-transform: uppercase;
  letter-spacing: 1px;  
}
.contact-us .btn:hover,
.contact-us .btn:focus {
  color: #fff !important;
  background-color: #a71d22;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}

.copy-right {
  padding-top: 10px;
  background-color: #a71d22;
  color: #fff;
  font-size: 14px;
}
.package-content {
  /*padding-top: 20px;*/
}
.package-header {
  height: 320px;
  position: relative;
  background-color: black;
}
.package-header::after {
  height: 320px;
  position: relative;
  background-color: black;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: .7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.package-title {
  z-index: 2;
  position: relative;
  font-weight: 700;
  font-size: 34px;
  color: #fff;
  cursor:default;
  text-align: center;
  line-height: 9em;
  text-transform: uppercase;
}
.package-search {
  padding: 30px 0px;
  background-color: #a71d22;
  margin-bottom: 20px;
}
.package-search h4 {
  font-weight: bold;
  display: inline;
  color: #fff;
  margin-right: 30px;
}
.package-search .btn {
  color:#a1b1bc;
  background-color: #fff;
  border-color: #a1b1bc;
  font-size: 16px;
  margin-right: 15px;
}
.btn-red {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  background-color: #a71d22;
  border: none;
  margin-bottom: 10px;
}
.btn-red:hover,
.btn-red:focus {
  color: #fff !important;
  background-color: #a71d22;
  border: none;
}

.language-drop {
  margin-top: 0.75em;
}
.language-drop a {
  font-size: 14px;
  text-decoration: none;
}

.dropdown-radio {
  min-width: 160px;
}
.dropdown-checkbox {
  min-width: 180px;
}
.dropdown-checkbox md-checkbox,
.dropdown-radio md-radio-button {
  display: block;
  margin: 10px 20px !important;
}

.home-search {
  background-color: #a71d22;
}
.home-search form {
  padding: 15px 0px;
}
.home-search form .form-control {
  border-radius: 1px;
}
.home-search form label {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  display: block;
}
.required {
  color: red;
}
.btn-search {
  border-radius: 1px;
  background-color: #6fb3e2;
  color: #fff;
}
.btn-search:hover,
.btn-search:focus {
  color: #fff !important;
}
.btn-search:active {
  box-shadow: none;
}
.margin-top-search {
  margin-top: 27px;
}

/* Holiday Page */

.holiday-caption {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10%;
  color: #fff;
  text-align: right;
  background-color: rgba(0,0,0,.7);
}
.holiday-title {
  font-weight: 700;
  font-size: 18px;
}
.holiday-price {
  font-weight: 900;
  font-size: 16px;
  color: #6fb3e2;
  font-style: italic;
}
.holiday-details {
  font-size: 16px;
}
.holiday-details i {
  color: #6fb3e2;
  vertical-align: super;
  width: 60px;
  height: 60px;
  text-align: center;
}
.holiday-details p {
  color: #6fb3e2;
  display: inline-block;
  margin-right: 15px;
}
.holiday-details span {
  display: block;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .holiday-caption {
    left: 60%;
  }
  .holiday-title {
    font-weight: 700;
    font-size: 25px;
  }
  .holiday-price {
    font-weight: 900;
    font-size: 25px;
  }
  .holiday-details {
    font-size: 21px;
  }
  .holiday-padding {
    padding-right: 0px
  }
  .enquire-padding {
    padding-left: 1px
  }
  .padding-left-5{
    padding-left: 5px !important;
  }
  .padding-right-5 {
    padding-right: 5px !important;
  }
  .padding-right-0 {
    padding-right: 0;
  }
  .padding-left-0 {
    padding-left: 0;
  }
  .height-570 {
    height: 570px !important;
  }
}
.holiday-nav {
  background-color: rgba(67,67,67,.15);
  margin-bottom: 2px;
}
.holiday-nav > li > a,
.holiday-nav > li.active > a,
.holiday-nav > li.active > a:hover,
.holiday-nav > li.active > a:focus {
  font-weight: 700;
  font-size: 18px;
  color: rgb(67,67,67);
  padding: 15px 0px;

}
.holiday-nav > li > a > i {
  vertical-align: bottom;
  margin-right: 10px;
  font-size: 1.5em;

}
.holiday-nav > li > a:hover > i,
.holiday-nav > li > a:focus > i {
  color: #6fb3e2;
}
.holiday-nav > li.active > a > i {
  color: #6fb3e2;
}
.holiday-taps {
  margin-bottom: 5px;
}
.holiday-taps .tab-content {
  padding: 25px;
  background-color: rgba(67,67,67,.05);
  font-size: 15px;
  color: rgb(67,67,67)
}
.holiday-taps .tab-content .tab-pane {
  margin-bottom: 15px;
}
.enquire-list {
  background-color: #a71d22;
  margin-bottom: 2px;
}
.enquire-list > li > a,
.enquire-list > li.active > a,
.enquire-list > li.active > a:hover,
.enquire-list > li.active > a:focus  {
  padding: 16px 0px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.holiday-taps .tab-enquire {
  padding: 15px;
  padding-bottom: 0;
  background-color: rgba(111,179,226,.3);
  font-size: 15px;
  opacity: 1;
}
.holiday-taps .tab-enquire .tab-pane {
  margin-bottom: 0;
}
.enquire-form input,
.enquire-form textarea {
  background-color: rgba(67,67,67,0.9);
  border: none;
  color: #fff;
  resize: none;
}

.enquire-form input:focus,
.enquire-form textarea:focus {
  background-color: rgba(43,43,43,0.9);
  border: 1px solid;
  border-color: rgba(255,255,255, 0.5) !important;
  color: #fff;
}

.enquire-form .ui-select-bootstrap .btn-default {
  background-color: rgba(67,67,67,0.9);
  border: none;
  color: #fff;
  resize: none;
}

.enquire-form .ui-select-bootstrap .btn-default:hover,
.enquire-form .ui-select-bootstrap .btn-default:focus {
  background-color: rgba(43,43,43,0.9);
  border: 1px solid;
  border-color: rgba(255,255,255, 0.5) !important;
  color: #fff;
}
.enquire-form .ui-select-bootstrap .text-muted {
  color: #fff !important;
}
.enquire-form .caret {
  color: #6fb3e2 !important;
}
.enquire-form .btn-submit {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  background-color: #a71d22;
  border: none;
  letter-spacing: 1px;
  padding: 10px;
}
.enquire-form .btn-submit:hover,
.enquire-form .btn-submit:focus {
  color: #fff !important;
  background-color: #a71d22;
  border: none;
}

.enquire-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
}
.enquire-form ::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
}
.enquire-form :-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
}
.enquire-form :-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}
.enquire-form input,
.enquire-form textarea {
  background-color: rgba(67,67,67,0.9);
  border: none;
  color: #fff;
  resize: none;
}

.contact-form .btn-submit {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  background-color: #a71d22;
  border: none;
  letter-spacing: 1px;
  padding: 10px;
}
.contact-form .btn-submit:hover,
.contact-form .btn-submit:focus {
  color: #fff !important;
  background-color: #a71d22;
  border: none;
}
.contact-form input,
.contact-form textarea {
  resize: none;
}
.holiday-prices {
  font-size: 15px;
}
.holiday-included ul,
.holiday-excluded ul {
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0px;
}
.holiday-included li,
.holiday-excluded li {
  margin-bottom: 10px;
}
.holiday-included li:before {
  content: " + ";
}
.holiday-excluded li:before {
  content: " - ";
}
.tab-section-title {
  font-size: 18px;
  font-weight: 700;
}
.tab-section-icon {
  font-weight: 900;
  font-size: 38px;
  color: #a71d22;
  vertical-align: sub;
  margin-left: 5px;
  margin-right: 10px;
}
.price-per-person {
  margin-left: 40px;
}
.price-details {
  margin-bottom: 15px;
}
.price-details td {
  padding: 5px;
}
.tab-title {
  font-weight: 700;
  font-size: 18px;
}
.tab-title i {
  font-size: 1.5em;
  vertical-align: sub;
  margin-right: 10px;
}
.related-trips {
  color: rgb(67,67,67);
}
.related-trips img {
  height: 300px;
}
@media screen and (min-width: 768px) {
  .related-trips figure {
    /*width: 500px;*/
    height: 300px;
    margin-bottom: 30px;
  }
}
.related-title {
  margin-bottom: 20px;
}
.accordion-title {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(67,67,67);
  padding: 5px;
}
.accordion-title i {
  font-size: 16px;
  color: #a1b1bc;
}
.accordion-body {
  font-size: 14px;
  padding: 5px;
}
.accordion-img {
  width: 220px;
  height: 150px;
  margin-right: 5px;
}
.plan-title {
  font-weight: 900;
  font-size: 14px;
  margin: 20px 0px;
}
.plan-box {
  background-color: rgba(111,179,226,.10);
}
.hotel {
  margin-top: 20px;
  margin-right: 20px;
}
.hotel-name {
  float: left;
  font-size: 14px;
  font-weight: 900;
}
.hotel-stars {
  text-align: center;
  float: right;
  color: #6fb3e2;
}
.hotel-stars-words {
  color: #000000;
  font-size: 14px;
}
.btn-check,
.btn-check:hover,
.btn-check:focus
{
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #a71d22;
  color: #fff;
  border-radius: 0;
  padding: 5px;
  margin-top: 15px;
}
.hotel-rooms {
  margin-top: 20px;
}
.hotel-rooms .room-type {
  margin-right: 8px;
}
.room-price {
  font-size: 14px;
  font-weight: 400;
  color: #6fb3e2;
}
.room-type {
  font-size: 14px;
  font-weight: 400;
}
.plan-date {
  margin-top: 10px;
  font-weight: 900;
  font-size: 14px;
}
.plan-date i {
  margin-right: 10px;
}
.height-165 {
  height: 165px;
}
.glyphicon-ring-left, 
.glyphicon-ring-right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  display: inline-table;
  text-align: center;
}
.glyphicon-square-left,
.glyphicon-square-right {
  width: 20px;
  height: 20px;
  color: #fff;
}

.glyphicon-ring-right .glyphicon-bordered,
.glyphicon-ring-left .glyphicon-bordered {
  font-size: 16px;
  vertical-align: middle;
  display: table-cell;
}

.glyphicon-white {
  background: white;
  color: black;
  border: 4px solid black;
}
.no-data {
  font-weight: 700;
  color: #a71d22;
  padding-top: 80px;
  padding-bottom: 120px;
}

.contact-header {
  height: 320px;
  position: relative;
  background-color: black;
}
.contact-header::after {
  height: 320px;
  position: relative;
  background-color: black;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: .7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.about-header {
  height: 320px;
  position: relative;
  background-color: black;
}
.about-header::after {
  height: 320px;
  position: relative;
  background-color: black;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: .7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.faq-header {
  height: 320px;
  position: relative;
  background-color: black;
}
.faq-header::after {
  height: 320px;
  position: relative;
  background-color: black;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: .7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.section-content {
  padding-top: 20px;
}
.faq-panel-open {
  background-color: #a71d22;
}
.faq-panel-close {
  background-color: white;
}
.faq-accordion-title-open {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 5px;
}
.faq-accordion-title-open i {
  font-size: 16px;
  color: white;
}
.faq-accordion-title-close {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  padding: 5px;
}
.faq-accordion-title-close i {
  font-size: 16px;
  color: #a1b1bc;
}
.faq-contact {
  background-color: #a71d22;
}
.faq-contact-box {
  color: #fff;
  padding: 30px 0px;
  font-size: 16px;
}
.faq-contact-box i {
  margin: 0px 5px;
  vertical-align: middle;
}
.faq-contact-box a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .faq-contact-box {
    padding: 30px;
    font-size: 21px;
  }
  .faq-contact-box i.fa.fa-volume-control-phone {
    font-size: 3em;
  }
.faq-contact-box i {
  margin: 0px 20px;
  vertical-align: middle;
}
.contact-us-now {
  margin-top: 16px;
}
.expanded-right {
  float: right;
}
}
@media screen and (min-width: 600px) {
.header-nav-menu {
  margin-top: 33px;
}
}
.total-price {
  color: #a71d22;
}


/* Dany is here */
@media screen and (min-width: 768px){
  .holiday-caption{
    left: 0;
    margin-left:calc((( 100vw - 1170px) / 2) + 1160px * 2/3 - 1px);
    border-left-color: white;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    /*     margin-left: 955px; */
  }
  .enquire-padding{
    position: sticky;
    z-index: 100001;
    top: 0;
  }
  .divisorForFilter20{
    display: inline;
  }
  .divisorForFilter80{
    display: inline;
  }
  .form-group{
    margin-bottom: 8px;
  }

}

@media screen and (min-device-width: 300px) 
and (max-device-width: 720px)  {
  .carousel-control{
    visibility: hidden;
  }
  .price-per-person{
    margin-left: 5px;
    white-space: nowrap;
  }
  .accordion-img  {
    margin: 5%;
  }
  .divisorForFilter20{
    display: block;
  }
  .divisorForFilter80{
    display: inline-block;
    margin-top: 6px;
  }
  .package-search .divisorForFilter80 .btn {
    margin-right : 2px;
  }
}
/* Dany is out */

.agreement {
  margin: 40px 0px;
  font-size: 14px;
  color: #333333;
}
.payment-box {
  border: 1px solid #eee;
  padding: 15px;
}
.payment-box .title {
  float: left;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 5px;
}
.payment-box .description {
  margin-bottom: 5px;
  font-size: 14px;
}
.payment-box .icons {
  margin-bottom: 10px;
  color: #333333;
}
.payment-box .icons i {
  margin-right: 5px;
}
.payment-box .icons i.fa-arrow-right {
  margin-left: 5px;
}
.payment-box .prices {
  margin-bottom: 10px;
  color: #333333;
}
.payment-box .prices i {
  margin-left: 5px;
}
.fee-note {
  font-size: 11px;
  margin-bottom: 10px;
  color: #333333;
}
.caution .title {
  font-size: 18px;
  font-weight: 700;
}
.caution .cancel {
  font-size: 14px;
}
.more-details {
  cursor: pointer;
  color: #6fb3e2;
}
/*input::-webkit-inner-spin-button {
        position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 200000 !important;
    display: block !important;
    width: 34px !important;
    height: 34px !important;
    line-height: 34px !important;
    text-align: center !important;
    pointer-events: none !important;
}*/
input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button  {
    opacity: 0.6;
  /*  color: #6fb3e2;
    background-color: #6fb3e2;
  border-color: #6fb3e2;*/
    height: 32px !important;
    /*border-radius: 4px;*/
    z-index: 200000 ;
}
