<section class="block background-blue padding-bottom-30" ng-controller="FooterController">
     <div class="container">
          <div class="row">
               <div class="col-xs-12 col-sm-5 col-sm-push-6">
                    <div class="about-us">
                         <h2>{{'ABOUT_US'| translate}}</h2>
                         <p>
                              {{setting.about.value}}
                         </p>
                    </div>
                    <ul class="nav contact-info">
                         <li class="contact-item"><i class="fa fa-map-marker margin-r-10"></i>{{setting.address.value}}</li>
                         <li class="contact-item"><i class="fa fa-paper-plane-o margin-r-10"></i>{{setting.primary_email.value[0]}}</li>
                         <li class="contact-item"><i class="fa fa-phone margin-r-10"></i>{{setting.telephones.value[0]}}</li>
                    </ul> 
                    <ul class="list-inline footer-font-icon">
                         <li ng-show="setting.social_links.value.facebook">
                              <a href="{{setting.social_links.value.facebook}}" target="_blank">
                                   <i class="fa fa-facebook"></i>
                              </a>
                         </li>
                         <li ng-show="setting.social_links.value.instagram">
                              <a href="{{setting.social_links.value.instagram}}" target="_blank">
                                   <i class="fa fa-instagram"></i>
                              </a>
                         </li>
                         <li ng-show="setting.social_links.value.twitter">
                              <a href="{{setting.social_links.value.twitter}}" target="_blank">
                                   <i class="fa fa-twitter"></i>
                              </a>
                         </li>
                         <li ng-show="setting.social_links.value.pinterest">
                              <a href="{{setting.social_links.value.pinterest}}" target="_blank">
                                   <i class="fa fa-pinterest-p"></i>
                              </a>
                         </li>
                         <li ng-show="setting.social_links.value.google">
                              <a href="{{setting.social_links.value.google}}" target="_blank">
                                   <i class="fa fa-google-plus"></i>
                              </a>
                         </li>
                         <li ng-show="setting.social_links.value.tumblr">
                              <a href="{{setting.social_links.value.tumblr}}" target="_blank">
                                   <i class="fa fa-tumblr"></i>
                              </a>
                         </li>
                         <li ng-show="setting.social_links.value.vimeo">
                              <a href="{{setting.social_links.value.vimeo}}" target="_blank">
                                   <i class="fa fa-vimeo"></i>
                              </a>
                         </li>
                    </ul>    
               </div>
               <div class="col-xs-12 col-sm-5 col-sm-pull-5">
                    <div class="contact-us">
                         <h2>{{'Contact_Us' | translate}}</h2>
                         <form name="contactForm" method="POST">
                              <div class="row" ng-show="contactSuccess">
                                   <div class="alert alert-info fade in">
                                        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{'Contact_Us_Success' | translate}}
                                   </div>
                              </div>
                              <div class="form-group has-feedback">
                                   <input class="form-control" type="text" name="name" ng-model="contact.name" required="">
                                   <span class="fa fa-user form-control-feedback white"></span>
                              </div>
                              <div class="form-group has-feedback">
                                   <input class="form-control" type="email" name="email" ng-model="contact.email" required="">
                                   <span class="fa fa-envelope-o form-control-feedback white"></span>
                              </div>
                              <div class="form-group">
                                   <textarea class="form-control" name="message" cols="50" rows="4" ng-model="contact.message" required=""></textarea>
                              </div>
                              <button type="submit" class="btn btn-block" ng-click="contactUS()" ng-disabled="saving">{{'send_it_now' | translate}}</button>
                         </form>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-xs-6 col-xs-6-push">

               </div>
<!--                <ul class="nav navbar-nav list-inline contact-info">
                    <li class="contact-item"><i class="fa fa-map-marker margin-r-10"></i>{{setting.address.value}}</li>
                    <li class="contact-item"><i class="fa fa-paper-plane-o margin-r-10"></i>{{setting.primary_email.value[0]}}</li>
                    <li class="contact-item"><i class="fa fa-phone margin-r-10"></i>{{setting.telephones.value[0]}}</li>
               </ul> 
 -->          </div>
     </div>
</section>

<!-- Our CopyRight Section -->
<section class="copy-right">
     <div class="container-fluid no-padding">
          <center>
               <p>© {{'Footer_MSG'|translate}}</p>
          </center>
     </div>
</section>