<header ng-controller="HeaderController">
  <nav class="navbar navbar-default">
    <div class="container">
<!--       <div class="row">
        <div class="col-md-10 col-lg-11 col-sm-9 col-xs-9"></div>
        <div class="col-md-2 col-lg-1 col-sm-3 col-xs-3">
          <span uib-dropdown on-toggle="toggled(open)">
            <a href id="simple-dropdown" uib-dropdown-toggle style="font-size: 14px;">
              <i><img src="assets/global/img/flags/us.png"></i> English <i class="caret"></i>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li> <a href><i><img src="assets/global/img/flags/us.png"></i> English</a> </li>
                <li> <a href><i><img src="assets/global/img/flags/fr.png"></i> French</a> </li>
                <li> <a href><i><img src="assets/global/img/flags/es.png"></i> Spanich</a>  </li>
            </ul>
          </span> 
        </div>
      </div> -->
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">
              <div class="header-logo">
                <img class="logo-img" src="assets/img/logo.png" alt="Tahrer">
                <div class="logo-title"> TAHRIR <span class="sub-title"> TOURS </span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-8">
          <div class="header-nav-menu">
  <!--           <div class="collapse navbar-collapse" id="contact-nav">
              <ul class="nav navbar-nav list-inline contact-info">
                <li class="contact-item"><i class="fa fa-map-marker margin-r-10"></i>{{setting.address.value}}</li>
                <li class="contact-item"><i class="fa fa-paper-plane-o margin-r-10"></i>{{setting.primary_email.value[0]}}</li>
                <li class="contact-item"><i class="fa fa-phone margin-r-10"></i>{{setting.telephones.value[0]}}</li>
              </ul>
            </div> -->
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="collapse navbar-collapse expanded-right" id="nav-menu">  
                  <ul class="nav navbar-nav" id="mainNav">
                    <li id="home"><a class="nav-link" href="#/home">{{'Home'| translate}}</a></li>
                    <li id="packages"><a class="nav-link" href="#/packages">{{'Packages'| translate}}</a></li>
                    <li id="about"><a class="nav-link" href="#/aboutUs">{{'About'| translate}}</a></li>
                    <li id="faq"><a class="nav-link" href="#/FAQs">{{'FAQs'| translate}}</a></li>
                    <li id="contact"><a class="nav-link" href="#/contactUs">{{'Customise_your_trip' | translate}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-2 col-lg-3 col-sm-3 col-xs-3 no-padding-left" ng-hide="true">
                <div class="language-drop">                
                  <span uib-dropdown on-toggle="toggled(open)">
                    <a href id="simple-dropdown" uib-dropdown-toggle >
                      <span>
                        <i><img ng-src="assets/global/img/flags/{{$root.lang}}.png"></i> {{'LanguageLabel' | translate }} <i class="caret"></i>
                      </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                      <li> <a href ng-click="$root.selectLang('us')"><i><img src="assets/global/img/flags/us.png"></i> English</a> </li>
                      <li> <a href ng-click="$root.selectLang('fr')"><i><img src="assets/global/img/flags/fr.png"></i> French</a> </li>
                      <li> <a href ng-click="$root.selectLang('sp')"><i><img src="assets/global/img/flags/sp.png"></i> Spanich</a>  </li>
                    </ul>
                  </span> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>